<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio de sesion</title>
    <link href="Style.css" rel="stylesheet" />
    <script type="text/Javascript" src="mensaje.js"></script>
  </head>

  <body>
    <div class="Formulario">
      <form id="Elementos">
        <h1>Inicio de sesión</h1>
        <input type="name" class="input" placeholder="Usuario" />
        <input type="password" class="input" placeholder="Contraseña" />
        <input type="checkbox" /><label class="check" for="checkbox"
          >Recordar contraseña</label
        >
        <input type="submit" class="boton" id="boton" value="Ingresar" />
      </form>
      <script>
        const formulario = document.getElementById("boton");
        formulario.addEventListener('submit', (event) => {
          event.preventDefault();
          alert('Registro exitoso!');
        });
      </script>
    </div>
  </body>
</html>
